body {
  margin-top: 86px;
}

#slider {
  height: 700px;
  background: url(imgs/hero.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.left-arrow {
  position: absolute;
  top: 400px;
  width: 50px;
  opacity: 50%;
}

.right-arrow{
  position: absolute;
  width: 50px;
  top: 400px;
  right: 0;
  opacity: 50%;
}

.left-arrow:hover{
  cursor: pointer;
  background-color: rgba(129, 129, 129, 0.6);
  border-radius: 3px;
}

.right-arrow:hover{
  cursor: pointer;
  background-color: rgba(129, 129, 129, 0.6);
  border-radius: 3px;
}

.slider-caption {
  background-color: rgb(43, 41, 56, 90%);
  position: absolute;
  color: whitesmoke;
  width: 480px;
  height: 320px;
  right: 200px;
  top: 350px;
  padding: 20px 30px;
  border-radius: 3px;
}

.slider-caption h3 {
 margin-bottom: 30px;
 font-size: 28px;
}

.slider-caption p {
  margin-bottom: 30px;
  font-size: 18px;
}

.section-title {
  font-weight: 600;
  font-size: xx-large;
  text-align: center;
  color: rgb(54, 54, 54);
  margin-bottom: 80px;
  margin-top: 0;
}

section-description {
}

#prints {
  height: 900px;
  padding: 50px;
  background-color: rgb(243, 243, 243);
}

.print-sizes {
  /* background-color: blueviolet; */
  height: 520px;
  justify-content: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 250px 250px;
}

.print-size-detail{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.print-size-detail-item{
  background-color: rgba(49, 49, 49, 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  width: 100%;
  font-size: large;
  color:whitesmoke;
  font-weight: 500;
}

.print-size-detail:hover{
 cursor: pointer;
}

.print-size1 {
  background: url(photos/passport.JPG);
  background-size: cover;
  border-radius: 4px;
}
.print-size2 {
  background: url(photos/squere.JPG);
  background-size: cover;
  border-radius: 4px;
}
.print-size3 {
  background: url(photos/standard.JPG);
  background-size: cover;
  border-radius: 4px;
}
.print-size4 {
  background: url(photos/medium.JPG);
  background-size: cover;
  border-radius: 4px;
}
.print-size5 {
  background: url(photos/A5.JPG);
  background-size: cover;
  border-radius: 4px;
}
.print-size6 {
  background: url(photos/letter.JPG);
  background-size: cover;
  border-radius: 4px;
}
.print-size7 {
  background: url(photos/A4.JPG);
  background-size: cover;
  border-radius: 4px;
}
.print-size8 {
  background: url(photos/A3.JPG);
  background-size: cover;
  border-radius: 4px;
}

#ideas {
  padding: 50px;
  height: 850px;
}

.ideas-articles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ideas-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ideas-article figcaption {
  padding: 0 35px 0 35px;
}

.ideas-article h2 {
}

.ideas-img1 {
  background: url(ideas/1.jpg);
  background-size: cover;
  height: 330px;
  width: 100%;
}

.ideas-img2 {
  background: url(ideas/2.jpg);
  background-size: cover;
  height: 330px;
  width: 80%;
}

.ideas-img3 {
  background: url(ideas/3.jpg);
  background-size: cover;
  height: 330px;
  width: 100%;
}

#app-download{
  padding: 0 100px ;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 700px;
  background-color: rgb(243, 243, 243);
  width: 100%;
}

.app-download-article{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.app-download-article h1{
  margin-top: 10px;
  margin-bottom: 60px;
  font-size: 34px;
  text-align: center;
}

.app-download-article h5{
  margin: 0;
  padding: 0;
}

.app-download-article-icons img{
  margin: 0 20px;
}


#key-features {
  background-color: #262935;
  padding: 50px;
  height: 700px;
}

#key-features h1 {
  color: whitesmoke;
}

.key-features-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 400px;
}

.key-feature img {
  width: 250px;
}

.key-feature h3 {
  text-align: center;
  font-size: x-large;
  color: whitesmoke;
}

.key-feature p {
  text-align: center;
  width: 250px;
  color: whitesmoke;
  font-weight: 500;
}

#delivery {
  padding: 50px;
}

.delivery-container {
  display: flex;
}

.delivery-container img {
  padding: 30px;
  height: 360px;
}

.delivery-container p {
  font-size: large;
  font-weight: 500;
}

.delivery-container figcaption {
  padding: 20px;
}

#about {
  background-color: rgb(243, 243, 243);
  padding: 50px;
  height: 900px;
}

.about-container {
  display: flex;
}

.about-container figcaption {
  padding: 20px;
}

.about-container img {
  width: 600px;
  display: flex;
  padding: 20px;
}

.about-container h3 {
  font-size: x-large;
  font-weight: 600;
}
.about-container p {
  font-size: large;
  font-weight: 500;
}

#contact {
  height: 800px;
  padding: 50px;
}

.contact-container {
  margin: 10px;
  display: flex;
  justify-content: center;

  flex-direction: row;
  padding: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 20px;
}

.contact-form input {
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(177, 177, 177);
  border-radius: 3px;
  outline: none;
  height: 40px;
  margin-bottom: 5px;
}

.contact-form textarea {
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(177, 177, 177);
  border-radius: 3px;
  outline: none;
  margin-bottom: 5px;
}

.contact-map {
  /* background-color: violet; */
  /* width: 50%; */
  margin-left: 80px;
  margin-right: 50px;
  border: 3px solid rgb(240, 240, 240);
  /* box-shadow: 1px 1px 7px 1px grey; */
}

.contact-details {
  width: 50%;
  width: 650px;
}

.contact-details h2 {
  font-size: x-large;
  margin-top: 0;
  margin-bottom: 20px;
  color: #2d2e2f;
}

.contact-details h3 {
  font-size: x-large;
  margin-top: 0;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #2d2e2f;
}

.contact-detail-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-detail-item i {
  font-size: 30px;
  width: 45px;
  padding-right: 20px;
}

.contact-detail-item span {
  font-size: medium;
  font-weight: 600;
}

.contact-detail-item a {
  text-decoration: none;
  color: rgb(73, 74, 77);
}

.contact-detail-item a:hover {
  border-bottom: 2px solid #f73378;
}
