* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin: 86px;
}

body {
  margin: 0;
  /* font-family: "Istok Web", sans-serif; */
  font-family: "Tajawal", sans-serif;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: whitesmoke;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 1px 6px 1px rgb(70, 70, 70);
}

.main-logo {
  font-size: larger;
  color: #262935;
}
.main-logo a {
  color: #262935;
}

.main-logo:hover {
  cursor: pointer;
}

#footer {
  background-color: #262935;
  height: 320px;
}

#footer h3 {
  color: whitesmoke;
}

.main-footer {
  display: flex;
  justify-content: center;
  height: 250px;
  margin-top: 48px;
  padding: 10px;
}
.secondary-footer {
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  color: rgb(195, 195, 195);
}

.main-footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.main-footer-link {
  display: inline-block;
  margin: 0 16px;
}
.main-footer-link a {
  color: whitesmoke;
  text-decoration: none;
}

.main-footer-link a:hover {
  border-bottom: 2px solid #f73378;
  /* border-bottom: 2px solid #f73378; */
  text-decoration: none;
}

.default-hr {
  border-color: rgb(173, 173, 173);
  position: center;
  display: block;
  border: none;
  height: 1px;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    750,
    from(rgb(148, 148, 148)),
    to(#262935)
  );
}

.footer-about {
  /* border: 1px solid grey; */
  /* padding: 20px; */
  height: 100%;
  width: 400px;
  color: aliceblue;
  /* min-height: 200px; */
}

.footer-about p {
  padding-right: 60px;
}

.footer-nav {
  /* border: 1px solid grey; */
  width: 220px;
}

.footer-nav-links {
  padding-left: 0;
}

.footer-nav-link {
  list-style-type: none;
  padding-bottom: 5px;
}

.footer-nav-link a {
  text-decoration: none;
  color: whitesmoke;
}

.footer-nav-link a:hover {
  border-bottom: 2px solid #f73378;
}

.footer-contacts {
  /* border: 1px solid grey; */
  height: 100%;
  width: 350px;
}

.footer-icons {
  /* border: 1px solid grey; */
  height: 100%;
  width: 350px;
}
.footer-icon-social {
}

.footer-icon-social i {
  margin-top: 14px;
  color: whitesmoke;
  font-size: 32px;
  padding: 0 5px;
}

.footer-contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: whitesmoke;
}

.footer-contact-item i {
  font-size: 28px;
  width: 45px;
  padding-right: 20px;
}

.footer-contact-item span {
}

.main-header > div {
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
}
.logo-img {
  display: inline-block;
  vertical-align: middle;
}
.logo-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  vertical-align: middle;
  color: whitesmoke;
  text-decoration: none;
  font-size: larger;
  font-weight: 100;
}

.nav {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}
.nav-items {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.nav-item {
  display: inline-block;
  margin: 0px 16px;
}

.nav-item a {
  color: whitesmoke;
  color: #262935;
  font-weight: 600;
  text-decoration: none;
  pad: 20px 0;
}

.nav-item a:hover,
.nav-item a:active {
  border-bottom: 2px solid whitesmoke;
  /* color: #e9c2c5; */
}

.nav-item-cta a {
  /* background-color: white; */
  /* color: #2196f3; */
  background-color: #f73378;
  color: whitesmoke;
  padding: 8px 16px;
  border-radius: 8px;
}

.nav-item-cta a:hover,
.nav-item-cta a:active {
  background-color: #f73378;
  border-bottom: none;
  color: whitesmoke;
}

.default-button {
}

.default-button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: #f73378;
  color: whitesmoke;
}

.default-button:hover,
.default-button:active {
  cursor: pointer;
  text-decoration: none;
}
